// Bootstrap overrides
// Source: pwwnrw/node_modules/bootstrap/scss/_variables.scss
// Bootstrap colors
$yellow: #ffc401;
$purple: #2d2b57;
$primary: $purple;
$secondary: $yellow;
$white: #fff;
$black: #000;

// Dropdowns
// Dropdown menu container and contents.
$dropdown-border-radius: 0;
$dropdown-border-color: $primary;

// Cards
$card-height: 100%;
