// Bootstrap overrides
// Source: pwwnrw/node_modules/bootstrap/scss/_variables.scss
// Bootstrap colors
$blue: #004f68;
$yellow: #ffee01;
$green: #c0e0cd;
$purple: #2d2b57;
$primary: $purple;
$secondary: $green;
$white: #fff;
$black: #000;
