.page-node-type-snippet {
  .snippet-main {
    display: flex;
    padding-bottom: 10rem;

    .layout-sidebar-first {
      min-width: 25%;
      padding-right: 2rem;
    }

    .layout-content {
      min-width: 75%;
      max-width: 100%;
    }
  }
}
